body{
    background-color: gainsboro;
    font-family: 'Montserrat', sans-serif;
}

hr{
    width: 70%;
}

.col{
    background-color: rgb(235, 235, 235);
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.colContent{
    background-color: wheat;
}

input{
    margin: 10px;
}