body{
    background-color: gainsboro;
    font-family: 'Montserrat', sans-serif;
}

hr{
    width: 70%;
    opacity: 1;
    background-color: #218ffe;
    border-radius: 2px;
}
hr:not([size]) {
    height: 4px;
}

.col{
    background-color: rgb(235, 235, 235);
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.colContent{
    background-color: #f99e1a;
}

input{
    margin: 10px;
}

button{
    border-radius: 5px;
    border: 1px black solid;
}

#makeTeamButton{
    border-radius: 5px;
}

.icon{
    width: 32px;
    height: 32px;
}

.centrar{
    text-align: center;
}

tr:nth-child(even) {background: rgb(187, 187, 187)}
tr:nth-child(odd) {background: #ffcf87}
.tablaTitulos{
    background-color: #218ffe;
}